body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

/* * {
  box-sizing: border-box;
  border: 1px solid red;
} */
